<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav-content>
    <h2><mat-icon matListItemIcon>list_alt</mat-icon>Parts Lists</h2>
    <mat-card>
      <mat-card-content>
        <button mat-stroked-button (click)="drawer.open()">Import</button>
        <mat-divider style="margin: 10px;"></mat-divider>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Positions Column -->
          <ng-container matColumnDef="positions">
            <th mat-header-cell *matHeaderCellDef> Positions </th>
            <td mat-cell *matCellDef="let element"> {{element.parts.length}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
              <button mat-stroked-button><mat-icon>shopping_cart</mat-icon>Shopping Cart</button>
              <button mat-stroked-button (click)="onDeletePartsList(element.id)"><mat-icon>delete</mat-icon>Delete</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openPartsList(row)"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
  <mat-sidenav mode="over" #drawer position="end" fixedInViewport="Fixed" style="min-width: 50vw;">
    <button mat-stroked-button (click)="drawer.close()">Close</button>
    <app-parts-list-import (close)="drawer.close()"></app-parts-list-import>
  </mat-sidenav>
</mat-sidenav-container>