<p-menu #menu [model]="items" [popup]="true"></p-menu>
<div class="flex flex-row gap-1">
  <button
    pButton
    pRipple
    type="button"
    (click)="menu.toggle($event)"
    class="flex-grow-1"
    style="background-color: #6c757d"
    label="All"></button>
  <button
    pButton
    pRipple
    type="button"
    (click)="menu.toggle($event)"
    class="flex-grow-1 p-button-outlined"
    style="background-color: #f8f9fa; color: black"
    label="Trans"></button>

  <button
    pButton
    pRipple
    type="button"
    (click)="menu.toggle($event)"
    class="flex-grow-1"
    style="background-color: #343a40"></button>
  <button
    pButton
    pRipple
    type="button"
    (click)="menu.toggle($event)"
    class="flex-grow-1"
    style="background-color: #7f1e06"></button>
  <button
    pButton
    pRipple
    type="button"
    (click)="menu.toggle($event)"
    class="flex-grow-1"
    style="background-color: #dc3545"></button>
  <button
    pButton
    pRipple
    type="button"
    (click)="menu.toggle($event)"
    class="flex-grow-1"
    style="background-color: #fd7e14"></button>
  <button
    pButton
    pRipple
    type="button"
    (click)="menu.toggle($event)"
    class="flex-grow-1"
    style="background-color: #ffc107"></button>
  <button
    pButton
    pRipple
    type="button"
    (click)="menu.toggle($event)"
    class="flex-grow-1"
    style="background-color: #28a745"></button>
  <button
    pButton
    pRipple
    type="button"
    (click)="menu.toggle($event)"
    class="flex-grow-1"
    style="background-color: #007bff"></button>
  <button
    pButton
    pRipple
    type="button"
    (click)="menu.toggle($event)"
    class="flex-grow-1"
    style="background-color: #6f42c1"></button>
</div>
