<p-dialog
  header="Data Migration"
  [(visible)]="showDialog"
  [style]="{ width: '50vw' }"
  [closable]="false"
  [modal]="true">
  <div class="flex flex-wrap card-container blue-container gap-3">
    <span><p-progressspinner></p-progressspinner></span>
    <div>
      <p class="align-items-center justify-content-center">{{ migrated }} of {{ counter }} Parts List migrated.</p>
    </div>
    <bh-messages [messages]="warning"></bh-messages>
  </div>

  <ng-template #closeicon><svg data-p-icon="times" /></ng-template>
</p-dialog>
