<p-card>
  <div class="flex justify-content-between flex-wrap card-container purple-container">
    <div class="p-card-title">Categories</div>
    <p-button
      icon="fa fa-gear"
      styleClass="p-button-rounded p-button-text config-button"
      (click)="configMode = !configMode"></p-button>
  </div>
  @if (!configMode) {
    <p-tree
      [value]="categories"
      [(selection)]="selectedCategory"
      selectionMode="single"
      (onNodeSelect)="onSelectCategory($event.node.key)">
      <ng-template let-category #node> {{ category.label }} ({{ category.data }}) </ng-template>

      <ng-template #togglericon let-expanded>
        @if (expanded) {
          <svg data-p-icon="chevron-down" />
        } @else {
          <svg data-p-icon="chevron-right" />
        }
      </ng-template>
    </p-tree>
  }
  @if (configMode) {
    <div>
      <div class="flex flex-nowrap align-items-center gap-1 mb-3">
        <span class="bh-toggleswitch"
          ><p-toggleswitch
            [(ngModel)]="excludeSelectedCategoryIds"
            inputId="onlyPrinted"
            (onChange)="onChangeExcludeSeclectedCategoryIds($event.checked)"></p-toggleswitch
        ></span>
        <label for="onlyPrinted">Ignore selected Categories</label>
      </div>
      <p-tree
        [value]="configCategories"
        [(selection)]="selectedConfigCategories"
        selectionMode="checkbox"
        (onNodeSelect)="onConfigCategory($event.node.key)">
        <ng-template let-category #node>
          {{ category.label }}
        </ng-template>

        <ng-template #togglericon let-expanded>
          @if (expanded) {
            <svg data-p-icon="chevron-down" />
          } @else {
            <svg data-p-icon="chevron-right" />
          }
        </ng-template>
      </p-tree>
    </div>
  }
</p-card>
