<p-dialog header="Changelog" [(visible)]="visible" [modal]="true">
  <section *ngIf="isVersionGreater('2.0.13')">
    <h2>2.0.13</h2>
    <h3>Features</h3>
    <ul>
      <li>Optional subtract Have from quantity on transfer</li>
      <li>OPtional ignore BrickLink prices</li>
    </ul>
    <h3>Bug fixed</h3>
    <ul>
      <li>Country/Langugae selection not working</li>
      <li>Error with importing BH json</li>
      <li>Not all possible parts are found at PaB</li>
    </ul>
  </section>
  <section *ngIf="isVersionGreater('2.0.12')">
    <h2>2.0.12</h2>
    <h3>Features</h3>
    <ul>
      <li>Check cart step in transfer parts workflow complete</li>
      <li>Show country selection modal if no country is selected</li>
      <li>Added basic PDF generation</li>
      <li>Load Global Settings & latest color informations from BrickHunter Service</li>
    </ul>
  </section>
  <section *ngIf="isVersionGreater('2.0.11')">
    <h2>2.0.11</h2>
    <h3>Features</h3>
    <ul>
      <li>Check current cart before transfering parts</li>
      <li>Show changelog</li>
      <li>Disbale transfer buttons until BaP data are loaded</li>
    </ul>
  </section>
  <ng-template pTemplate="footer">
    <p-button (click)="onClose()" label="Close" styleClass="p-button-solid"></p-button>
  </ng-template>
</p-dialog>
