<section *ngIf="isVersionGreater('2.3.0')">
  <h2>2.3.0</h2>
  <h3>Feature</h3>
  <ul>
    <li>Set suggestion added to parts list. Combined Parts Lists are currently not fully supported.</li>
    <li>Added support for Slovakia.</li>
  </ul>
</section>
<section *ngIf="isVersionGreater('2.2.8')">
  <h2>2.2.8</h2>
  <h3>Features</h3>
  <ul>
    <li>Support WantedList file format exported from BrickStore</li>
    <li>Improved some warning/info texts</li>
  </ul>
  <h3>Bugfix</h3>
  <ul>
    <li>WantedLists with only one item aren't imported.</li>
  </ul>
</section>
<section *ngIf="isVersionGreater('2.2.7')">
  <h2>2.2.7</h2>
  <h3>Bugfix</h3>
  <ul>
    <li>Adjust to API changes when transfering parts to LEGO PaB cart.</li>
    <li>Split function only adds quantity 1 in some cases.</li>
  </ul>
</section>
<section *ngIf="isVersionGreater('2.2.6')">
  <h2>2.2.6</h2>
  <h3>Bugfix</h3>
  <ul>
    <li>Error when Parts List name is empty.</li>
  </ul>
</section>
<section *ngIf="isVersionGreater('2.2.5')">
  <h2>2.2.5</h2>
  <ul>
    <li>Compatibility fix for Chrome version.</li>
  </ul>
</section>
<section *ngIf="isVersionGreater('2.2.4')">
  <h2>2.2.4</h2>
  <ul>
    <li>
      Changed Affiliate Link Partner. Added Affiliate Link (opt-out) for the following countries: Australia, Canada,
      Czech Republic, Hungary, Poland
    </li>
  </ul>
</section>
<section *ngIf="isVersionGreater('2.2.3')">
  <h2>2.2.3</h2>
  <h3>Feature</h3>
  <ul>
    <li>Browser Parts filter has been extendet with a "Parts at Risk after (Date)" filter.</li>
    <li>Part Detail window added to Browse Parts.</li>
    <li>Add function to delete selected parts from Parts List.</li>
    <li>Adjusted exported file names.</li>
  </ul>
</section>
<section *ngIf="isVersionGreater('2.1.1')">
  <h2>2.1.1</h2>
  <h3>Feature</h3>
  <ul>
    <li>Select multiple Parts Lists for bulk delete or open as a temporary combined Parts List</li>
    <li>
      Added a function for splitting a Parts List to meet the lot limit and max order quantity of pieces per order.
      (Beta)
    </li>
  </ul>
  <h3>Bugfix</h3>
  <ul>
    <li>BrickLink price calculation leads to negative price</li>
    <li>PaB prices where not autmatically loaded when open a Parts List</li>
    <li>Exported BrickLink file can't be imported in BrickLink</li>
  </ul>
</section>
<section *ngIf="isVersionGreater('2.0.22')">
  <h2>2.0.22</h2>
  <h3>Bugfix</h3>
  <ul>
    <li>Migration of old parts lists when position has no color info.</li>
  </ul>
</section>
<section *ngIf="isVersionGreater('2.0.21')">
  <h2>2.0.21</h2>
  <h3>Bugfix</h3>
  <ul>
    <li>Migration of old parts lists.</li>
  </ul>
</section>
<section *ngIf="isVersionGreater('2.0.20')">
  <h2>2.0.20</h2>
  <h3>Public Release</h3>
  <ul>
    <li>New major release.</li>
  </ul>
</section>
