<div class="flex flex-column" *ngIf="part.lego">
  <div>
    {{ part.lego.price.amount | currency : part.lego.price.currencyCode : 'symbol-narrow' : '1.2-2' : this.language }}
  </div>
  <div style="color: grey; font-size: 12px">[{{ part.lego.designNumber }} {{ part.lego.elementId }}]</div>
  <p-tag severity="warn" value="Bestseller" *ngIf="part.lego.deliveryChannel === 'pab'"></p-tag>
  <p-tag severity="info" value="Standard" *ngIf="part.lego.deliveryChannel === 'bap'"></p-tag>
  <p-tag severity="danger" value="Out Of Stock" *ngIf="!part.lego.inStock"></p-tag>
</div>
