<h2><fa-icon [icon]="faList" class="page-title-icon"></fa-icon>Parts Lists</h2>
<p-card>
  <div class="flex justify-content-between">
    <button pButton pRipple type="button" class="p-button-solid" (click)="onImport()">
      <span pButtonIcon class="fa fa-plus"></span><span pButtonLabel>Import</span>
    </button>
    <a target="_blank" href="https://www.paypal.com/donate?hosted_button_id=MPV9V9JUKRD6N">
      <img alt="donate" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" style="cursor: pointer" />
    </a>
  </div>
  <p-divider></p-divider>

  <!-- (onRowSelect)="openPartsList($event.data)" -->
  <bh-menu #bulkMenu [model]="bulkMenuItems" [popup]="true"></bh-menu>
  <p-table
    [value]="partsLists"
    [(selection)]="selectedPartsLists"
    [stripedRows]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="uuid">
    <ng-template #header>
      <tr>
        <th style="width: 50px">
          <button
            pButton
            type="button"
            (click)="bulkMenu.toggle($event)"
            style="padding: 2px"
            [disabled]="!selectedPartsLists.length"
            [iconOnly]="true">
            <span pButtonIcon class="fa fa-bars"></span>
          </button>
        </th>
        <th>Name</th>
        <th>Type</th>
        <th>Positions</th>
        <th style="width: 150px">Action</th>
      </tr>
    </ng-template>
    <ng-template #body let-partsList>
      <tr [pSelectableRow]="partsList">
        <td><p-table-checkbox [value]="partsList"></p-table-checkbox></td>
        <td (click)="openPartsList(partsList)" style="cursor: pointer">{{ partsList.name }}</td>
        <td (click)="openPartsList(partsList)" style="cursor: pointer">{{ partsList.source }}</td>
        <td (click)="openPartsList(partsList)" style="cursor: pointer">{{ partsList.parts.length }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            class="p-button-outlined p-button-danger"
            (click)="onDeletePartsList(partsList.uuid)">
            <span pButtonIcon class="fa fa-trash-can"></span><span pButtonLabel>Delete</span>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template #sorticon let-order>
      @switch (order) {
        @case (1) {
          <svg data-p-icon="sort-amount-up-alt" class="p-datatable-sort-icon" />
        }
        @case (-1) {
          <svg data-p-icon="sort-amount-down" class="p-datatable-sort-icon" />
        }
        @default {
          <svg data-p-icon="sort-alt" class="p-datatable-sort-icon" />
        }
      }
    </ng-template>
    <ng-template #checkboxicon let-checked>
      @if (checked) {
        <svg data-p-icon="check" class="p-checkbox-icon" />
      }
    </ng-template>
    <ng-template #headercheckboxicon let-checked>
      @if (checked) {
        <svg data-p-icon="check" class="p-checkbox-icon" />
      }
    </ng-template>
  </p-table>
</p-card>
<p-confirmdialog
  bhConfirmDialogFocus
  acceptIcon="pi pi-check"
  rejectIcon="pi pi-times"
  [style]="{ width: '50vw' }"
  key="positionDialog"
  position="top"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-outlined">
  <ng-template #accepticon><svg data-p-icon="check" class="p-button-icon p-button-icon-left" /></ng-template>
  <ng-template #rejecticon><svg data-p-icon="times" class="p-button-icon p-button-icon-left" /></ng-template>
</p-confirmdialog>
<app-parts-list-import></app-parts-list-import>
