:host {
    ::ng-deep.bh-input-icon-right {
        position: relative;
        // display: inline-block;
    }


    ::ng-deep.bh-input-icon-right > p-button:last-of-type {
        position: absolute;
        top: 50%;
        margin-top: -1.5rem;
        right: 0.75rem;
        color: #6c757d;
        z-index: 5;
    }
    
    ::ng-deep.p-calendar .p-inputtext {
        width: 130px;
    }

    ::ng-deep .info-button {
        width: 24px;
        height: 24px !important;
        padding: 5px;
      }
}
