<p-card>
  <div class="formgrid grid">
    <div class="field col-6 p-inputgroup bh-input-icon-right">
      <span class="p-inputgroup-addon">
        <i class="fa fa-magnifying-glass"></i>
      </span>
      <p-button
        icon="fa fa-circle-xmark"
        styleClass="p-button-rounded p-button-text"
        *ngIf="keyword"
        (click)="onChangeKeyword('')"></p-button>
      <input type="text" pInputText [(ngModel)]="keyword" (ngModelChangeDebounced)="onChangeKeyword($event)" />
    </div>
    <div class="field col-6 p-inputgroup">
      <span
        class="p-inputgroup-addon"
        (click)="onChangeSortDirection()"
        style="cursor: pointer"
        *ngIf="sortDirection === 'DESC'">
        <i class="fa fa-arrow-up-z-a"></i>
      </span>
      <span
        class="p-inputgroup-addon"
        (click)="onChangeSortDirection()"
        style="cursor: pointer"
        *ngIf="sortDirection === 'ASC'">
        <i class="fa fa-arrow-down-z-a"></i>
      </span>
      <p-dropdown
        [options]="sortOptions"
        [(ngModel)]="selectedSort"
        optionLabel="name"
        optionValue="value"
        [style]="{
          width: '100%',
          'border-top-left-radius': '0px',
          'border-bottom-left-radius': '0px'
        }"
        (onChange)="onChangeSort($event.value)"></p-dropdown>
    </div>
    <div class="field col-12">
      <div class="flex justify-content-between">
        <!-- <p-selectButton
          [options]="keywordOptions"
          [(ngModel)]="keywordOption"
          [multiple]="true"
          optionLabel="name"
          optionValue="value"></p-selectButton> -->
        <p-selectButton
          [options]="deliveryChannelOptions"
          [(ngModel)]="deliveryChannels"
          [multiple]="true"
          optionLabel="name"
          optionValue="value"
          (onChange)="onDeliveryChannelsChange($event.value)"></p-selectButton>
        <span
          >At Risk After:
          <p-calendar
            [(ngModel)]="atRiskAfter"
            view="month"
            dateFormat="mm/yy"
            [showClear]="true"
            [readonlyInput]="true"
            [showButtonBar]="true"
            (onSelect)="onChangeAtRiskAfter($event)"
            (onClearClick)="onChangeAtRiskAfter($event)"
            [minDate]="minDate"></p-calendar
        ></span>
        <div class="flex flex-nowrap align-items-center gap-1">
          <p-inputSwitch
            [(ngModel)]="onlyPrinted"
            inputId="onlyPrinted"
            (onChange)="onChangeOnlyPrinted($event.checked)"></p-inputSwitch>
          <label for="onlyPrinted">Only Printed</label>
        </div>
      </div>
    </div>
  </div>

  <app-browse-parts-color-filter></app-browse-parts-color-filter>
</p-card>
