<p-card>
  <div class="formgrid grid">
    <div class="field col-6">
      <p-inputgroup class="bh-input-icon-right">
        <p-inputgroup-addon>
          <i class="fa fa-magnifying-glass"></i>
        </p-inputgroup-addon>
        @if (keyword) {
          <p-button
            icon="fa fa-circle-xmark"
            styleClass="p-button-rounded p-button-text"
            (click)="onChangeKeyword('')"></p-button>
        }
        <input type="text" pInputText [(ngModel)]="keyword" (ngModelChangeDebounced)="onChangeKeyword($event)" />
      </p-inputgroup>
    </div>
    <div class="field col-6">
      <p-inputgroup>
        @if (sortDirection === 'DESC') {
          <p-inputgroup-addon (click)="onChangeSortDirection()" style="cursor: pointer">
            <i class="fa fa-arrow-up-z-a"></i>
          </p-inputgroup-addon>
        }
        @if (sortDirection === 'ASC') {
          <p-inputgroup-addon (click)="onChangeSortDirection()" style="cursor: pointer">
            <i class="fa fa-arrow-down-z-a"></i>
          </p-inputgroup-addon>
        }
        <p-select
          [options]="sortOptions"
          [(ngModel)]="selectedSort"
          optionLabel="name"
          optionValue="value"
          [style]="{
            width: '1%',
            'border-top-left-radius': '0px',
            'border-bottom-left-radius': '0px'
          }"
          (onChange)="onChangeSort($event.value)"></p-select>
      </p-inputgroup>
    </div>
    <div class="field col-12">
      <div class="flex justify-content-between">
        <!-- <p-selectbutton
        [options]="keywordOptions"
        [(ngModel)]="keywordOption"
        [multiple]="true"
        optionLabel="name"
      optionValue="value"></p-selectbutton> -->
        <p-selectbutton
          [options]="deliveryChannelOptions"
          [(ngModel)]="deliveryChannels"
          [multiple]="true"
          optionLabel="name"
          optionValue="value"
          (onChange)="onDeliveryChannelsChange($event.value)"></p-selectbutton>
        <span>
          <p-popover #op> Shows parts that are no longer available in any set at the specified time. </p-popover>
          <p-button
            (click)="op.toggle($event)"
            icon="fa fa-circle-info"
            label=""
            styleClass="p-button-text p-button-sm p-button-rounded info-button"
            class="atRiskAsOfButton"></p-button>
          At risk as of:
          <p-datepicker
            [(ngModel)]="atRiskAsOf"
            view="month"
            dateFormat="mm/yy"
            [showClear]="true"
            [readonlyInput]="true"
            [showButtonBar]="true"
            (onSelect)="onChangeAtRiskAsOf($event)"
            (onClear)="onChangeAtRiskAsOf($event)"
            (onClearClick)="onChangeAtRiskAsOf($event)"
            [minDate]="minDate"></p-datepicker>
        </span>
        <div class="flex flex-nowrap align-items-center gap-1">
          <span class="bh-toggleswitch"
            ><p-toggleswitch
              [(ngModel)]="onlyPrinted"
              inputId="onlyPrinted"
              (onChange)="onChangeOnlyPrinted($event.checked)"></p-toggleswitch
          ></span>
          <label for="onlyPrinted">Only Printed</label>
        </div>
      </div>
    </div>
  </div>

  <app-browse-parts-color-filter></app-browse-parts-color-filter>
</p-card>
