<p-table [value]="products" dataKey="name" [tableStyle]="{ 'min-width': '60rem' }" [stripedRows]="true">
  <ng-template #header>
    <tr>
      <!-- <th style="width: 5rem"></th> -->
      <th pSortableColumn="id">Set Number <p-sorticon field="id"></p-sorticon></th>
      <th pSortableColumn="name">Name <p-sorticon field="name"></p-sorticon></th>
      <th>Image</th>
      <th pSortableColumn="price">Price <p-sorticon field="price"></p-sorticon></th>
      <th pSortableColumn="pieceCount">Pieces <p-sorticon field="pieceCount"></p-sorticon></th>
      <th pSortableColumn="containesPercentage">
        Percentage used<p-sorticon field="containesPercentage"></p-sorticon>
      </th>
      <th pSortableColumn="containesPieces">Pieces used<p-sorticon field="containesPieces"></p-sorticon></th>
      <th pSortableColumn="containedPicesPrice">PaB Price<p-sorticon field="containedPicesPrice"></p-sorticon></th>
    </tr>
  </ng-template>
  <ng-template #body let-product let-expanded="expanded">
    <tr (click)="onOpenDetail(product)" style="cursor: pointer">
      <!-- <td>
      <button
        type="button"
        pButton
        pRipple
        [pRowToggler]="product"
        (click)="showParts(product.id)"
        class="p-button-text p-button-rounded p-button-plain"
      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
    </td> -->
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>
        @if (product.imageUrl) {
          <img [src]="product.imageUrl" [alt]="product.name" width="50" />
        }
      </td>
      <td>{{ product.price.toFixed(2) | currency: product.currencyCode }}</td>
      <td>{{ product.pieceCount }}</td>
      <td>{{ product.containesPercentage.toFixed(1) }}%</td>
      <td>{{ product.containesPieces }}</td>
      <td>{{ product.containedPicesPrice.toFixed(2) | currency: product.currencyCode }}</td>
    </tr>
  </ng-template>
  <ng-template #expandedrow let-product>
    <tr>
      <td colspan="9">
        @if (parts) {
          <app-parts-table [parts]="parts" [allowEdit]="true"></app-parts-table>
        }
      </td>
    </tr>
  </ng-template>

  <ng-template #sorticon let-order>
    @switch (order) {
      @case (1) {
        <svg data-p-icon="sort-amount-up-alt" class="p-datatable-sort-icon" />
      }
      @case (-1) {
        <svg data-p-icon="sort-amount-down" class="p-datatable-sort-icon" />
      }
      @default {
        <svg data-p-icon="sort-alt" class="p-datatable-sort-icon" />
      }
    }
  </ng-template>
  <ng-template #checkboxicon let-checked>
    @if (checked) {
      <svg data-p-icon="check" class="p-checkbox-icon" />
    }
  </ng-template>
  <ng-template #headercheckboxicon let-checked>
    @if (checked) {
      <svg data-p-icon="check" class="p-checkbox-icon" />
    }
  </ng-template>
</p-table>
<app-parts-product-suggestions-detail (bulkAction)="onBulkAction($event)"></app-parts-product-suggestions-detail>
