<div class="flex flex-row">
  <mat-icon matListItemIcon style="margin-top: 7px">list_alt</mat-icon>
  <h2>{{ partsList?.name }}</h2>
</div>
<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12 2xl:col-span-3 2xl:order-last">
    <mat-card>
      <mat-card-content>
        <div class="grid grid-cols-4 2xl:grid-cols-1 gap-4">
          <div class="flex flex-col space-x-0 space-y-1">
            <!-- <div class="grow">
              <button mat-stroked-button style="width: 100%"><mat-icon>settings</mat-icon>Settings</button>
            </div> -->
            <div class="grow">
              <button mat-stroked-button style="width: 100%"
                (click)="onDeletePartsList()"><mat-icon>delete</mat-icon>Delete</button>
            </div>
            <!-- <div class="grow">
              <button mat-stroked-button style="width: 100%"><mat-icon>call_split</mat-icon>Split</button>
            </div>
            <div class="grow">
              <button mat-stroked-button style="width: 100%"><mat-icon>download</mat-icon>BL Download</button>
            </div>
            <div class="grow">
              <button mat-stroked-button style="width: 100%"><mat-icon>print</mat-icon>Print</button>
            </div> -->
            <div class="grow">
              <button mat-stroked-button style="width: 100%" (click)="onLoadPab()"><mat-icon>sync</mat-icon>Load
                PaB</button>
            </div>
          </div>
          <span>
            <h3 class="font-bold text-xl">PaB Bestseller</h3>
            <div class="flex justify-between">
              <div>
                <div>Lot:</div>
                <div>{{ getParts('pab').length }}</div>
              </div>
              <div>
                <div>Pieces:</div>
                <div>{{ getTotalQuantity('pab') }}</div>
              </div>
              <div>
                <div>Price: </div>
                <div>{{ getTotalPrice('pab') }}</div>
              </div>
            </div>
            <div class="flex flex-col space-x-0 space-y-1">
              <div class="grow">
                <button mat-stroked-button style="width: 100%" (click)="onTransfer('pab')">
                  <mat-icon>shopping_cart</mat-icon>
                  Transfer
                </button>
              </div>
              <!-- <div class="grow"><button mat-stroked-button style="width: 100%"><mat-icon>download</mat-icon>BL
                  Download</button></div>
              <div class="grow"><button mat-stroked-button style="width: 100%"><mat-icon>print</mat-icon>Print</button>
              </div> -->
            </div>
          </span>
          <span>
            <h3 class="font-bold text-xl">PaB Standrad</h3>
            <div class="flex justify-between">
              <div>
                <div>Lot:</div>
                <div>{{ getParts('bap').length }}</div>
              </div>
              <div>
                <div>Pieces:</div>
                <div>{{ getTotalQuantity('bap') }}</div>
              </div>
              <div>
                <div>Price: </div>
                <div>{{ getTotalPrice('bap') }}</div>
              </div>
            </div>
            <div class="flex flex-col space-x-0 space-y-1">
              <div class="grow">
                <button mat-stroked-button style="width: 100%" (click)="onTransfer('bap')">
                  <mat-icon>shopping_cart</mat-icon>
                  Transfer
                </button>
              </div>
              <!-- <div class="grow"><button mat-stroked-button style="width: 100%"><mat-icon>download</mat-icon>BL
                  Download</button></div>
              <div class="grow"><button mat-stroked-button style="width: 100%"><mat-icon>print</mat-icon>Print</button>
              </div> -->
            </div>
          </span>
          <span>
            <h3 class="font-bold text-xl">BrickLink</h3>
            <div class="flex justify-between">
              <div>
                <div>Lot:</div>
                <div>{{ getParts('brickLink').length }}</div>
              </div>
              <div>
                <div>Pieces:</div>
                <div>{{ getTotalQuantity('brickLink') }}</div>
              </div>
              <div>
                <div>Price: </div>
                <div>{{ getTotalPrice('brickLink') }}</div>
              </div>
            </div>
            <div class="flex flex-col space-x-0 space-y-1">
              <!-- <div class="grow"><button mat-stroked-button style="width: 100%"><mat-icon>download</mat-icon>BL
                  Download</button></div>
              <div class="grow"><button mat-stroked-button style="width: 100%"><mat-icon>print</mat-icon>Print</button>
              </div> -->
            </div>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-span-12 2xl:col-span-9">
    <mat-card>
      <mat-card-content>
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="All">
            <app-parts-table [parts]="partsList.parts"></app-parts-table>
          </mat-tab>
          <mat-tab label="PaB Bestseller">
            <app-parts-table [parts]="getParts('pab')"></app-parts-table>
          </mat-tab>
          <mat-tab label="PaB Standard">
            <app-parts-table [parts]="getParts('bap')"></app-parts-table>
          </mat-tab>
          <mat-tab label="PaB OOS">
            <app-parts-table [parts]="getParts('oos')"></app-parts-table>
          </mat-tab>
          <mat-tab label="BrickLink">
            <app-parts-table [parts]="getParts('brickLink')"></app-parts-table>
          </mat-tab>
          <mat-tab label="Warnings">Content 3</mat-tab>
        </mat-tab-group>


      </mat-card-content>
    </mat-card>
  </div>
</div>