<p-sidebar class="sideNav" [visible]="true" [transitionOptions]="'0ms'" [showCloseIcon]="false" [modal]="false">
  <ng-template pTemplate="header">
    <div style="margin-top: 5px">
      <p-image src="./assets/logo.png" width="237"></p-image>
    </div>
  </ng-template>
   
  <ng-template pTemplate="content">
    <ul>
      <li>
        <a pRipple routerLink="/parts-lists">
          <fa-icon [icon]="faList" class="icon"></fa-icon>
          <span>Parts Lists</span>
        </a>
      </li>
      <li>
        <a pRipple routerLink="/browse-parts">
          <fa-icon [icon]="faBook" class="icon"></fa-icon>
          <span>Browse Parts</span>
        </a>
      </li>
      <!-- <li>
        <a pRipple href="#">
          <fa-icon [icon]="faClockRotateLeft" class="icon"></fa-icon>
          <span>PaB Changelog</span>
        </a>
      </li> -->
      <li>
        <a pRipple routerLink="/settings">
          <fa-icon [icon]="faGear" class="icon"></fa-icon>
          <span>Settings</span>
        </a>
      </li>
      <!-- <li>
        <a pRipple href="#">
          <fa-icon [icon]="faCircleQuestion" class="icon"></fa-icon>
          <span>Help</span>
        </a>
      </li> -->
      <li>
        <a pRipple routerLink="/info">
          <fa-icon [icon]="faCircleInfo" class="icon"></fa-icon>
          <span>Info</span>
        </a>
      </li>
    </ul>
  </ng-template>
  <ng-template pTemplate="footer">
    <p style="color: grey; font-size: 0.7rem">{{ currentVersion }}</p>
  </ng-template>
</p-sidebar>
