:host {
  ::ng-deep.not-listed-tag {
    background-color: grey;
  }
}

.full-width-button {
  width: 100%;
  display: grid;
}

.top-10 {
  top: -10px;
  position: relative;
}

.top-20 {
  top: -20px;
  position: relative;
}
