<div class="p-2 border-1 surface-border surface-card border-round" style="height: 320px" [id]="part.elementId">
  <div class="align-items-center" style="height: 120px">
    <div [style]="getImageStyle()" (click)="onOpenPartDetail()">
      <div>
        <p-tag severity="warning" *ngIf="part.deliveryChannel === 'pab'">Bestseller</p-tag>
        <p-tag severity="info" *ngIf="part.deliveryChannel === 'bap'">Standard</p-tag>
        <p-tag severity="danger" *ngIf="part.deliveryChannel === 'oos'">Out Of Stock</p-tag>
        <p-tag severity="primary" styleClass="not-listed-tag" *ngIf="part.deliveryChannel === ''"> Not Listed </p-tag>
      </div>
      <div class="flex justify-content-end" style="width: 100%; position: relative; top: -34px; right: -10px">
        <div class="flex justify-content-end flex-column">
          <p-button
            icon="fa-solid fa-heart"
            styleClass="p-button-rounded p-button-text p-button-danger text-xl special-button"
            *ngIf="isInWishList"
            (click)="onRemoveFromWishList(); $event.stopPropagation()"></p-button>
          <p-button
            icon="fa-regular fa-heart"
            styleClass="p-button-rounded p-button-text p-button-danger text-xl special-button"
            *ngIf="!isInWishList"
            (click)="onAddToWishList(); $event.stopPropagation()"></p-button>
          <p-button
            icon="fa-solid fa-circle-check"
            styleClass="p-button-rounded p-button-text p-button-success text-xl special-button"
            *ngIf="isInHaveItList"
            (click)="onRemoveFromHaveItList(); $event.stopPropagation()"></p-button>
          <p-button
            icon="fa-regular fa-circle-check"
            styleClass="p-button-rounded p-button-text p-button-success text-xl special-button"
            *ngIf="!isInHaveItList"
            (click)="onAddToHaveItList(); $event.stopPropagation()"></p-button>
          <p-button
            icon="fa fa-solid fa-arrow-up-right-from-square"
            styleClass="p-button-rounded p-button-text text-xl special-button"
            (click)="onOpenPartDetail(); $event.stopPropagation()"></p-button>
        </div>
      </div>
    </div>
    <div style="height: 48px; overflow: hidden">
      <div class="font-bold">{{ part.description }}</div>
    </div>
    <div class="flex flex-column gap-1">
      <div class="flex justify-content-between">
        <div>Element Id:</div>
        <div style="cursor: pointer" (click)="onSetKeywordFilter(part.elementId.toString())">{{ part.elementId }}</div>
      </div>
      <div class="flex justify-content-between">
        <div>Design Id:</div>
        <div style="cursor: pointer" (click)="onSetKeywordFilter(part.designId.toString())">{{ part.designId }}</div>
      </div>
      <div class="flex justify-content-between">
        <div>
          <img
            src="/assets/flag_placeholder.png"
            [class]="'flag flag-' + part.country.toLowerCase()"
            style="width: 18px" />
        </div>
        <div>{{ part.priceAmount | currency : part.priceCurrency : 'symbol-narrow' }}</div>
      </div>
      <div style="overflow: hidden; cursor: pointer" (click)="onSetColorFilter(part.colorId)">
        <app-color [colorId]="part.colorId" [onlyMainColor]="true"></app-color>
      </div>
      <div
        *ngIf="partsListPart"
        style="height: 42px; background-color: #ffc107; border-radius: 4px; padding: 8px"
        class="flex flex-row justify-content-between">
        <p-inputNumber
          [(ngModel)]="partsListPart.qty"
          [showButtons]="true"
          buttonLayout="horizontal"
          styleClass="quantity-edit"
          [size]="4"
          [min]="0"
          [inputStyle]="{ 'text-align': 'right' }"
          decrementButtonClass="quantity-edit-button"
          incrementButtonClass="quantity-edit-button"
          incrementButtonIcon="fa fa-plus"
          decrementButtonIcon="fa fa-minus"
          (onBlur)="onChangeQuantity()"
          (onInput)="onChangeQuantity()"></p-inputNumber>
        <p-button
          icon="fa fa-trash-can"
          styleClass="p-button-rounded p-button-danger p-button-text remove-button"
          (click)="onRemovePart()"></p-button>
      </div>
      <p-button
        icon="fa fa-plus"
        label="Add"
        styleClass="p-button-solid text-md"
        class="full-width-button"
        *ngIf="!partsListPart"
        (click)="onAddPart()"></p-button>
    </div>
  </div>
</div>
