<table mat-table [dataSource]="parts">

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef> Select </th>
    <td mat-cell *matCellDef="let item"></td>
  </ng-container>

  <ng-container matColumnDef="sourceId">
    <th mat-header-cell *matHeaderCellDef> Item Id </th>
    <td mat-cell *matCellDef="let item"> {{item.id}} </td>
  </ng-container>

  <ng-container matColumnDef="designId">
      <th mat-header-cell *matHeaderCellDef> designId </th>
      <td mat-cell *matCellDef="let item"> {{item.designId}} </td>
    </ng-container>

  <ng-container matColumnDef="elementId">
    <th mat-header-cell *matHeaderCellDef> Element Id </th>
    <td mat-cell *matCellDef="let item"> {{item.elementId}} </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let item"> <img
        [src]="'https://img.bricklink.com/ItemImage/PN/'+item.source.color+'/'+ item.source.id +'.png'"
        style="max-width: 60px; max-height: 60px;" /> </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> Color </th>
    <td mat-cell *matCellDef="let item"> {{item.color}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let item"> {{item.qty}} </td>
  </ng-container>

  <ng-container matColumnDef="brickLink">
    <th mat-header-cell *matHeaderCellDef> BrickLink </th>
    <td mat-cell *matCellDef="let item"> {{item.name}} </td>
  </ng-container>

  <ng-container matColumnDef="pickABrick">
    <th mat-header-cell *matHeaderCellDef> Pick a Brick </th>
    <td mat-cell *matCellDef="let item">
      <p>{{item.lego?.price.amount.toFixed(2)}} {{item.lego?.price.currencyCode}}</p>
      <p>
        {{(!item.lego)?'':(!item.lego.inStock)?"oos":(item.lego.deliveryChannel==='pab')?'Bestseller':'Standard'}}
      </p>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>