<p-card header="Parts Lists">
  <div style="margin-bottom: 1rem">
    <i class="fa-solid fa-heart" style="font-size: 20px; color: #d32f2f"></i>
    <span class="ml-2"
      >Wish list ({{ wishList?.length }})
      @if (show !== 'wish') {
        <span (click)="onShowParts('wish')">
          <i class="fa-regular fa-eye-slash" style="color: rgba(10, 52, 99, 0.5)"></i>
        </span>
      }
      @if (show === 'wish') {
        <span (click)="onHideParts()">
          <i class="fa-regular fa-eye" style="color: #0a3463"></i>
        </span>
      }
    </span>
  </div>
  <div style="margin-bottom: 1rem">
    <i class="fa-solid fa-circle-check" style="font-size: 20px; color: #689f38"></i>
    <span class="ml-2"
      >Have it ({{ haveItList?.length }})
      @if (show !== 'haveit') {
        <span (click)="onShowParts('haveit')">
          <i class="fa-regular fa-eye-slash" style="color: rgba(10, 52, 99, 0.5)"></i>
        </span>
      }
      @if (show === 'haveit') {
        <span (click)="onHideParts()">
          <i class="fa-regular fa-eye" style="color: #0a3463"></i>
        </span>
      }
    </span>
  </div>
  @for (partsList of partsLists; track partsList) {
    <div class="field-checkbox">
      <p-radiobutton
        [inputId]="partsList.uuid"
        name="category"
        [value]="partsList.uuid"
        [(ngModel)]="selectedListUuid"
        (onClick)="onSelectList($event.value)"></p-radiobutton>
      <span class="ml-2">
        <label [for]="partsList.uuid" style="overflow-wrap: anywhere">
          {{ partsList.name }} ({{ partsList.parts.length }})
        </label>
        @if (show !== partsList.uuid) {
          <span (click)="onShowParts(partsList.uuid); $event.stopPropagation()">
            <i class="fa-regular fa-eye-slash" style="color: rgba(10, 52, 99, 0.5)"></i>
          </span>
        }
        @if (show === partsList.uuid) {
          <span (click)="onHideParts(); $event.stopPropagation()">
            <i class="fa-regular fa-eye" style="color: #0a3463"></i>
          </span>
        }
      </span>
    </div>
  }
  <p-button
    icon="fa fa-plus"
    label="Create Parts List"
    styleClass="p-button-solid text-md"
    class="full-width-button"
    (click)="onCreatePartsList()"></p-button>
</p-card>
