:host {
  //   ::ng-deep.p-tree-toggler {
  //     display: none;
  //   }

  ::ng-deep.p-tree .p-tree-root-children {
    overflow: hidden;
  }

  ::ng-deep.p-tree .p-tree-root-children .p-tree-node .p-tree-node-content .p-tree-node-toggle-button {
    height: 19px;
    width: 19px;
  }

  ::ng-deep.p-tree {
    border: 0;
    padding: 0;
  }

  ::ng-deep.p-tree .p-tree-root-children .p-tree-node {
    padding-left: 0;
    padding-right: 0;
    padding: 0;
  }
}

.full-width-button {
  width: 100%;
  display: grid;
}
