.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.sideNav {
  width: 60px;
  transition: 200ms;
}

.sideNav:hover {
  width: 200px;
  transition: 200ms;
}