<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav mode="side" opened><h1>BrickHunter 2.0</h1>
  
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListItemIcon>web</mat-icon>
        <h3 matListItemTitle>Browse Parts</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>list_alt</mat-icon>
        <h3 matListItemTitle>Parts Lists</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <h3 matListItemTitle>Shopping Cart</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>help</mat-icon>
        <h3 matListItemTitle>Help</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>info</mat-icon>
        <h3 matListItemTitle>Info</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="padding: 20px">
    <h2><mat-icon matListItemIcon>list_alt</mat-icon>Parts Lists</h2>
    <mat-card>
      <mat-card-content>
        <button mat-stroked-button>Import</button>
        <mat-divider style="margin: 10px;;"></mat-divider>
        Simple card</mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
