<h2><fa-icon [icon]="faGear" class="page-title-icon"></fa-icon>Settings</h2>
<p-card>
  <p-cascadeSelect
    [(ngModel)]="selectedCity"
    [options]="countries"
    optionLabel="cname"
    optionGroupLabel="name"
    [optionGroupChildren]="['states', 'cities']"
    [style]="{ minWidth: '14rem' }"
    placeholder="Select a City">
    <ng-template pTemplate="option" let-option>
      <div class="flex align-items-center gap-2">
        <img
          *ngIf="option.states"
          src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
          [class]="'flag flag-' + option.code.toLowerCase()" />
        <i class="pi pi-compass mr-2" *ngIf="option.cities"></i>
        <i class="pi pi-map-marker mr-2" *ngIf="option.cname"></i>
        <span>{{ option.cname || option.name }}</span>
      </div>
    </ng-template>
  </p-cascadeSelect>
</p-card>
