<h2><fa-icon [icon]="faGear" class="page-title-icon"></fa-icon>Settings</h2>
<div class="flex justify-content-center">
  <div class="grid" style="max-width: 1500px">
    <div class="col" style="width: 750px">
      <div class="flex flex-column gap-3">
        <app-locale-settings></app-locale-settings>
        <!-- <p-card></p-card> -->
      </div>
    </div>
    <div class="col" style="width: 750px">
      <div class="flex flex-column gap-3">
        <!-- <p-card></p-card> -->
        <!-- <p-card></p-card> -->
      </div>
    </div>
  </div>
</div>
