<h2><fa-icon [icon]="faClipboardList" class="page-title-icon"></fa-icon>{{ partsList?.name }}</h2>
<div class="grid">
  <div class="col-12 xxl:col-fix xxl:w-20rem xxl:flex-order-1">
    <p-card>
      <div class="grid">
        <div class="col-3 xxl:col-12">
          <h3>General</h3>
          <div class="flex flex-column gap-2">
            <button
              pButton
              pRipple
              type="button"
              label="Settings"
              class="p-button-outlined"
              icon="fa fa-gear"
              style="width: 100%"
              (click)="onSetting()"></button>
            <button
              pButton
              pRipple
              type="button"
              label="Delete"
              class="p-button-outlined"
              icon="fa fa-trash-can"
              style="width: 100%"
              (click)="onDelete()"></button>
            <button
              pButton
              pRipple
              type="button"
              label="Split (Beta)"
              class="p-button-outlined"
              icon="fa fa-scissors"
              style="width: 100%"
              (click)="onSplit()"></button>
            <button
              pButton
              pRipple
              type="button"
              label="ReSync"
              class="p-button-outlined"
              icon="fa fa-arrows-rotate"
              style="width: 100%"
              (click)="onReSync()"></button>
            <button
              pButton
              pRipple
              type="button"
              label="Export"
              class="p-button-outlined"
              icon="fa fa-download"
              style="width: 100%"
              (click)="onExport()"></button>
          </div>
        </div>
        <div class="col-3 xxl:col-12">
          <h3>PaB Bestseller</h3>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between" style="height: 41.844px">
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Lot</div>
                <div>{{ totals.bestseller.lot }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Pieces</div>
                <div>{{ totals.bestseller.pieces }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Price</div>
                <div>{{ totals.bestseller.price }}</div>
              </div>
            </div>
            <button
              pButton
              pRipple
              type="button"
              label="Transfer"
              class="p-button-solid"
              icon="fa fa-cart-shopping"
              style="width: 100%"
              [disabled]="pabIsLoading"
              (click)="onTransfer(cartType.Bestseller)"></button>
            <div class="flex flex-nowrap align-items-center gap-2" *ngIf="!!affiliate">
              <p-inputSwitch [(ngModel)]="useAffiliatePaB" inputId="useAffiliatePaB"></p-inputSwitch>
              <label for="useAffiliatePaB">Use Affiliate Link</label>
            </div>
          </div>
        </div>
        <div class="col-3 xxl:col-12">
          <h3>PaB Standard</h3>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between vertical-align-middle" style="height: 41.844px">
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Lot</div>
                <div>{{ totals.standard.lot }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Pieces</div>
                <div>{{ totals.standard.pieces }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Price</div>
                <div>{{ totals.standard.price }}</div>
              </div>
            </div>
            <button
              pButton
              pRipple
              type="button"
              label="Transfer"
              class="p-button-solid"
              icon="fa fa-cart-shopping"
              style="width: 100%"
              [disabled]="pabIsLoading"
              (click)="onTransfer(cartType.Standard)"></button>
            <div class="flex flex-nowrap align-items-center gap-2" *ngIf="!!affiliate">
              <p-inputSwitch [(ngModel)]="useAffiliateBaP" inputId="useAffiliateBaP"></p-inputSwitch>
              <label for="useAffiliateBaP">Use Affiliate Link</label>
            </div>
          </div>
        </div>
        <div class="col-3 xxl:col-12">
          <h3>BrickLink</h3>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between vertical-align-middle" style="height: 41.844px">
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Lot</div>
                <div>{{ totals.bricklink.lot }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Pieces</div>
                <div>{{ totals.bricklink.pieces }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Price</div>
                <div>{{ totals.bricklink.price }}</div>
              </div>
            </div>
          </div>
          <h3>Total</h3>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between vertical-align-middle" style="height: 41.844px">
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Lot</div>
                <div>{{ totals.total.lot }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Pieces</div>
                <div>{{ totals.total.pieces }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Price</div>
                <div>{{ totals.total.price }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 xl:col xxl:flex-order-0">
    <p-card>
      <p-tabMenu [model]="items" [(activeItem)]="activeItem" (activeItemChange)="onTableChange($event)"></p-tabMenu>
      <app-parts-table
        [parts]="parts"
        [pabIsLoading]="pabIsLoading"
        [partsListUuid]="uuid"
        [allowEdit]="true"
        (bulkAction)="onBulkAction($event)"></app-parts-table>
    </p-card>
  </div>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  key="positionDialog"
  position="top"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<app-parts-list-settings [partsList]="partsList"></app-parts-list-settings>
<app-parts-list-split></app-parts-list-split>
<app-parts-list-export></app-parts-list-export>
<app-parts-list-transfer></app-parts-list-transfer>
<app-transfer-warning></app-transfer-warning>
<app-parts-list-copy-or-move-to></app-parts-list-copy-or-move-to>
<p-dialog
  header="Syncrinize Parts List"
  [(visible)]="showImportDialog"
  [style]="{ width: '50vw' }"
  [closable]="false"
  [modal]="true">
  <div class="flex flex-wrap card-container blue-container gap-3">
    <p-progressSpinner></p-progressSpinner>
    <div>
      <p class="align-items-center justify-content-center">
        <app-progress-icon [step]="1" [currentStep]="importStep"></app-progress-icon> Prepare list
      </p>
      <p class="align-items-center justify-content-center">
        <app-progress-icon [step]="2" [currentStep]="importStep"></app-progress-icon> Get Rebrickable Data
      </p>
      <p class="align-items-center justify-content-center">
        <app-progress-icon [step]="3" [currentStep]="importStep"></app-progress-icon> Get BrickLink Data
      </p>
    </div>
  </div>
</p-dialog>
