<h2><fa-icon [icon]="faClipboardList" class="page-title-icon"></fa-icon>{{ partsList?.name }}</h2>
<div class="grid">
  <div class="col-12 xxl:col-fix xxl:w-20rem xxl:flex-order-1">
    <p-card>
      <div class="grid">
        <div class="col-3 xxl:col-12">
          <h3>General</h3>
          <div class="flex flex-column gap-2">
            <button
              pButton
              pRipple
              type="button"
              label="Settings"
              class="p-button-outlined"
              icon="fa fa-gear"
              style="width: 100%"
              (click)="onSetting()"></button>
            <button
              pButton
              pRipple
              type="button"
              label="Delete"
              class="p-button-outlined"
              icon="fa fa-trash-can"
              style="width: 100%"
              (click)="onDelete()"></button>
            <button
              pButton
              pRipple
              type="button"
              label="Split"
              class="p-button-outlined"
              icon="fa fa-scissors"
              style="width: 100%"></button>
            <button
              pButton
              pRipple
              type="button"
              label="Print"
              class="p-button-outlined"
              icon="fa fa-print"
              style="width: 100%"></button>
          </div>
        </div>
        <div class="col-3 xxl:col-12">
          <h3>PaB Bestseller</h3>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between" style="height: 41.844px">
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Lot</div>
                <div>{{ getParts('pab')?.length }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Pieces</div>
                <div>{{ getTotalQuantity('pab') }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Price</div>
                <div>{{ getTotalPrice('pab') }}</div>
              </div>
            </div>
            <button
              pButton
              pRipple
              type="button"
              label="Transfer"
              class="p-button-outlined"
              icon="fa fa-cart-shopping"
              style="width: 100%"
              (click)="onTransfer('pab')"></button>
          </div>
        </div>
        <div class="col-3 xxl:col-12">
          <h3>PaB Standard</h3>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between vertical-align-middle" style="height: 41.844px">
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Lot</div>
                <div>{{ getParts('bap')?.length }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Pieces</div>
                <div>{{ getTotalQuantity('bap') }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Price</div>
                <div>{{ getTotalPrice('bap') }}</div>
              </div>
            </div>
            <button
              pButton
              pRipple
              type="button"
              label="Transfer"
              class="p-button-outlined"
              icon="fa fa-cart-shopping"
              style="width: 100%"
              (click)="onTransfer('bap')"></button>
          </div>
        </div>
        <div class="col-3 xxl:col-12">
          <h3>BrickLink</h3>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between vertical-align-middle" style="height: 41.844px">
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Lot</div>
                <div>{{ getParts('brickLink')?.length }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Pieces</div>
                <div>{{ getTotalQuantity('brickLink') }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Price</div>
                <div>{{ getTotalPrice('brickLink') }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 xl:col xxl:flex-order-0">
    <p-card>
      <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onTableChange($event)"></p-tabMenu>
      <app-parts-table [parts]="parts" [pabIsLoading]="pabIsLoading"></app-parts-table>
    </p-card>
  </div>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  key="positionDialog"
  position="top"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<app-parts-list-settings [partsList]="partsList"></app-parts-list-settings>
<app-parts-list-transfer></app-parts-list-transfer>
