<h2><fa-icon [icon]="faClipboardList" class="page-title-icon"></fa-icon>{{ partsList?.name }}</h2>
<div class="grid">
  <div class="col-12 xxl:col-fix xxl:w-20rem xxl:flex-order-1">
    <p-card>
      <div class="grid">
        <div class="col-3 xxl:col-12">
          <h3>General</h3>
          <div class="flex flex-column gap-2">
            <button
              pButton
              pRipple
              type="button"

              class="p-button-outlined"

              style="width: 100%"
              (click)="onSetting()"><span pButtonIcon class="fa fa-gear"></span><span pButtonLabel>Settings</span></button>
            <button
              pButton
              pRipple
              type="button"

              class="p-button-outlined"

              style="width: 100%"
              (click)="onDelete()"><span pButtonIcon class="fa fa-trash-can"></span><span pButtonLabel>Delete</span></button>
            <button
              pButton
              pRipple
              type="button"

              class="p-button-outlined"

              style="width: 100%"
              (click)="onSplit()"><span pButtonIcon class="fa fa-scissors"></span><span pButtonLabel>Split</span></button>
            <button
              pButton
              pRipple
              type="button"

              class="p-button-outlined"

              style="width: 100%"
              [disabled]="pabIsLoading || setSugestionIsLoading"
              (click)="onReSync()"><span pButtonIcon class="fa fa-arrows-rotate"></span><span pButtonLabel>ReSync</span></button>
            <button
              pButton
              pRipple
              type="button"

              class="p-button-outlined"

              style="width: 100%"
              [disabled]="pabIsLoading || setSugestionIsLoading"
              (click)="getSetSuggestions()"><span pButtonIcon class="fa fa-boxes-stacked"></span><span pButtonLabel>Check for Sets (Beta)</span></button>
            <button
              pButton
              pRipple
              type="button"

              class="p-button-outlined"

              style="width: 100%"
              (click)="onExport()"><span pButtonIcon class="fa fa-download"></span><span pButtonLabel>Export</span></button>
          </div>
        </div>
        <div class="col-3 xxl:col-12">
          <h3>PaB Bestseller</h3>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between" style="height: 41.844px">
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Lot</div>
                <div>{{ totals.bestseller.lot }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Pieces</div>
                <div>{{ totals.bestseller.pieces }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Price</div>
                <div>{{ totals.bestseller.price }}</div>
              </div>
            </div>
            <button
              pButton
              pRipple
              type="button"

              class="p-button-solid"

              style="width: 100%"
              [disabled]="pabIsLoading"
              (click)="onTransfer(cartType.Bestseller)"><span pButtonIcon class="fa fa-cart-shopping"></span><span pButtonLabel>Transfer</span></button>
            @if (!!affiliate) {
              <div class="flex flex-nowrap align-items-center gap-2">
                <span class="bh-toggleswitch"
                  ><p-toggleswitch [(ngModel)]="useAffiliatePaB" inputId="useAffiliatePaB"></p-toggleswitch
                ></span>
                <label for="useAffiliatePaB">Use Affiliate Link</label>
              </div>
            }
          </div>
        </div>
        <div class="col-3 xxl:col-12">
          <h3>PaB Standard</h3>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between vertical-align-middle" style="height: 41.844px">
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Lot</div>
                <div>{{ totals.standard.lot }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Pieces</div>
                <div>{{ totals.standard.pieces }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Price</div>
                <div>{{ totals.standard.price }}</div>
              </div>
            </div>
            <button
              pButton
              pRipple
              type="button"

              class="p-button-solid"

              style="width: 100%"
              [disabled]="pabIsLoading"
              (click)="onTransfer(cartType.Standard)"><span pButtonIcon class="fa fa-cart-shopping"></span><span pButtonLabel>Transfer</span></button>
            @if (!!affiliate) {
              <div class="flex flex-nowrap align-items-center gap-2">
                <span class="bh-toggleswitch"
                  ><p-toggleswitch [(ngModel)]="useAffiliateBaP" inputId="useAffiliateBaP"></p-toggleswitch
                ></span>
                <label for="useAffiliateBaP">Use Affiliate Link</label>
              </div>
            }
          </div>
        </div>
        <div class="col-3 xxl:col-12">
          <h3>BrickLink</h3>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between vertical-align-middle" style="height: 41.844px">
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Lot</div>
                <div>{{ totals.bricklink.lot }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Pieces</div>
                <div>{{ totals.bricklink.pieces }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Price</div>
                <div>{{ totals.bricklink.price }}</div>
              </div>
            </div>
          </div>
          <h3>Total</h3>
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between vertical-align-middle" style="height: 41.844px">
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Lot</div>
                <div>{{ totals.total.lot }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Pieces</div>
                <div>{{ totals.total.pieces }}</div>
              </div>
              <div class="flex flex-column justify-content-center">
                <div class="shortInfoTitle">Price</div>
                <div>{{ totals.total.price }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 xl:col xxl:flex-order-0">
    <p-card>
      <p-tabs [value]="activeItem.id" (valueChange)="onTabChange($event)" [scrollable]="true" [showNavigators]="false">
        <p-tablist>
          @for (item of items; track item) {
            <p-tab [value]="item.id" [disabled]="item.disabled || false">{{ item.label }}</p-tab>
          }
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel [value]="activeItem.id">
            @if (activeItem.id != 'setSuggestions') {
              <app-parts-table
                [parts]="parts"
                [pabIsLoading]="pabIsLoading"
                [partsListUuid]="uuid"
                [allowEdit]="true"
                (bulkAction)="onBulkAction($event)"></app-parts-table>
            }
            @if (activeItem.id === 'setSuggestions' && setSugestionIsLoading) {
              <span class="vertical-align-middle">
                <p-progressspinner [style]="{ width: '25px', height: '25px', margin: '10px' }"></p-progressspinner>
              </span>
            }
            @if (
              activeItem.id === 'setSuggestions' &&
              setSuggestionsLoaded &&
              !setSugestionIsLoading &&
              products?.length > 0
            ) {
              <app-parts-product-suggestions-table
                [products]="products"
                [partsListUuid]="partsList.uuid"
                (bulkAction)="onBulkAction($event)"></app-parts-product-suggestions-table>
            }
            @if (
              activeItem.id === 'setSuggestions' &&
              setSuggestionsLoaded &&
              !setSugestionIsLoading &&
              products?.length == 0
            ) {
              <p></p>
            }
            @if (activeItem.id === 'setSuggestions' && !setSuggestionsLoaded && !setSugestionIsLoading) {
              <p></p>
            }
            @if (
              activeItem.id === 'setSuggestions' &&
              setSuggestionsLoaded &&
              !setSugestionIsLoading &&
              products?.length == 0
            ) {
              <p-message severity="error">No sets found!</p-message>
            }
            @if (activeItem.id === 'setSuggestions' && !setSuggestionsLoaded && !setSugestionIsLoading) {
              <p-message severity="info">Please use "Check for Sets" function.</p-message>
            }
          </p-tabpanel>
          @for (item of items; track item) {
            @if (item.id !== activeItem.id) {
              <p-tabpanel [value]="item.id"></p-tabpanel>
            }
          }
        </p-tabpanels>
      </p-tabs>
    </p-card>
  </div>
</div>
<p-confirmdialog
  bhConfirmDialogFocus
  acceptIcon="pi pi-check"
  rejectIcon="pi pi-times"
  [style]="{ width: '50vw' }"
  key="positionDialog"
  position="top"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-outlined">
  <ng-template #accepticon><svg data-p-icon="check" class="p-button-icon p-button-icon-left" /></ng-template>
  <ng-template #rejecticon><svg data-p-icon="times" class="p-button-icon p-button-icon-left" /></ng-template>
</p-confirmdialog>
<app-parts-list-settings [partsList]="partsList"></app-parts-list-settings>
<app-parts-list-split></app-parts-list-split>
<app-parts-list-export></app-parts-list-export>
<app-parts-list-transfer></app-parts-list-transfer>
<app-transfer-warning></app-transfer-warning>
<app-parts-list-copy-or-move-to></app-parts-list-copy-or-move-to>
<p-dialog
  header="Syncrinize Parts List"
  [(visible)]="showImportDialog"
  [style]="{ width: '50vw' }"
  [closable]="false"
  [modal]="true">
  <div class="flex flex-wrap card-container blue-container gap-3">
    <span><p-progressspinner></p-progressspinner></span>
    <div>
      <p class="align-items-center justify-content-center">
        <app-progress-icon [step]="1" [currentStep]="importStep"></app-progress-icon> Prepare list
      </p>
      <p class="align-items-center justify-content-center">
        <app-progress-icon [step]="2" [currentStep]="importStep"></app-progress-icon> Get Rebrickable Data
      </p>
      <p class="align-items-center justify-content-center">
        <app-progress-icon [step]="3" [currentStep]="importStep"></app-progress-icon> Get BrickLink Data
      </p>
    </div>
  </div>
</p-dialog>
