<p-table
  [value]="parts"
  [tableStyle]="{ 'min-width': '50rem' }"
  styleClass="p-datatable-striped"
  scrollHeight="calc(100vh - 210px)"
  [scrollable]="true"
  [virtualScroll]="true"
  [virtualScrollItemSize]="rowHeight">
  <ng-template pTemplate="header">
    <tr>
      <th pRipple pSortableColumn="designId">DesignId<p-sortIcon field="designId"></p-sortIcon></th>
      <th pRipple pSortableColumn="elementId">ElementId<p-sortIcon field="elementId"></p-sortIcon></th>
      <th>Image</th>
      <th pRipple pSortableColumn="color">Color<p-sortIcon field="color"></p-sortIcon></th>
      <th pRipple pSortableColumn="qty">Quantity<p-sortIcon field="qty"></p-sortIcon></th>
      <th>BrickLink</th>
      <th pRipple pSortableColumn="lego.price.amount">
        Pick a Brick <p-sortIcon field="lego.price.amount"></p-sortIcon>
        <p-progressSpinner
          [style]="{ width: '19px', height: '19px' }"
          class="vertical-align-middle"
          *ngIf="pabIsLoading"></p-progressSpinner>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-part>
    <tr style="height: 91px">
      <td>{{ part.designId }}</td>
      <td>{{ part.elementId }}</td>
      <td>
        <p-image [src]="caclImageUrl(part)" imageClass="part-image" [preview]="true"></p-image>
      </td>
      <td>
        <app-color [colorId]="part.color"></app-color>
      </td>
      <td [pEditableColumn] *ngIf="allowEdit">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <span style="display: flex; width: 170px; margin: 2px">
              <div style="width: 50px">Qty:</div>
              <p-inputNumber
                inputId="integeronly"
                [(ngModel)]="part.qty"
                (ngModelChange)="onQuantityChange($event, part.id)"
                [size]="5"
                styleClass="in-place-edit"
                [min]="0"
                [showButtons]="true"></p-inputNumber>
            </span>
            <span style="display: flex; width: 170px; margin: 2px">
              <div style="width: 50px">Have:</div>
              <p-inputNumber
                inputId="integeronly"
                [(ngModel)]="part.have"
                (ngModelChange)="onHaveChange($event, part.id)"
                [size]="5"
                styleClass="in-place-edit"
                [min]="0"
                [showButtons]="true"></p-inputNumber>
            </span>
          </ng-template>
          <ng-template pTemplate="output">
            <div class="flex flex-column">
              <div>{{ part.qty }}</div>
              <div *ngIf="part.have" style="color: grey; font-size: 12px">have: {{ part.have }}</div>
              <div *ngIf="part.lego && part.lego.maxOrderQuantity < part.qty" style="color: red; font-size: 12px">
                max: {{ part.lego.maxOrderQuantity }}
              </div>
            </div>
          </ng-template>
        </p-cellEditor>
      </td>
      <td [pEditableColumn] *ngIf="!allowEdit">
        <div class="flex flex-column">
          <div>{{ part.qty }}</div>
          <div *ngIf="part.have" style="color: grey; font-size: 12px">have: {{ part.have }}</div>
          <div *ngIf="part.lego && part.lego.maxOrderQuantity < part.qty" style="color: red; font-size: 12px">
            max: {{ part.lego.maxOrderQuantity }}
          </div>
        </div>
      </td>
      <td>{{ (part.maxPrice || 0) > 0 ? part.maxPrice : '' }}</td>
      <td>
        <app-pab-price [part]="part"></app-pab-price>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No parts in this list.</td>
    </tr>
  </ng-template>
</p-table>
