<p-dialog
  header="Select Lego PaB Site Settings*"
  [(visible)]="visible"
  [modal]="true"
  [focusOnShow]="false"
  [closable]="false"
  [style]="{ width: '300px' }">
  <div class="field">
    <label id="country-label" for="country" class="block">Country</label>
    <p-select
      bhSelectEscape
      inputId="country"
      ariaLabelledBy="country-label"
      [options]="countries"
      [(ngModel)]="selectedCountry"
      optionLabel="text"
      dataKey="code"
      placeholder="Select a Country"
      appendTo="body"
      (onShow)="onCountryShow()"
      [style]="{ width: '100%' }"
      (onChange)="onCountrySelect()">
      <ng-template pTemplate="selectedItem">
        @if (selectedCountry) {
          <div class="flex align-items-center gap-2">
            <img
              src="/assets/flag_placeholder.png"
              [class]="'flag flag-' + selectedCountry.code.toLowerCase()"
              style="width: 18px" />
            <div>{{ selectedCountry.text }}</div>
          </div>
        }
      </ng-template>
      <ng-template let-country pTemplate="item">
        <div class="flex align-items-center gap-2">
          <img
            src="/assets/flag_placeholder.png"
            [class]="'flag flag-' + country.code.toLowerCase()"
            style="width: 18px" />
          <div>{{ country.text }}</div>
        </div>
      </ng-template>
    </p-select>
  </div>
  <div class="field">
    <label id="language-label" for="language" class="block">Language</label>
    <p-select
      bhSelectEscape
      inputId="language"
      ariaLabelledBy="language-label"
      [options]="selectedCountry.languages"
      [(ngModel)]="selectedLanguage"
      optionLabel="text"
      dataKey="code"
      placeholder="Select a Language"
      appendTo="body"
      [style]="{ width: '100%' }"
      (onChange)="onLanguageSelect()">
      <ng-template pTemplate="selectedItem">
        @if (selectedLanguage) {
          <div class="flex align-items-center gap-2">
            <img
              src="/assets/flag_placeholder.png"
              [class]="'flag flag-' + selectedLanguage.flag.toLowerCase()"
              style="width: 18px" />
            <div>{{ selectedLanguage.text }}</div>
          </div>
        }
      </ng-template>
      <ng-template let-language pTemplate="item">
        <div class="flex align-items-center gap-2">
          <img
            src="/assets/flag_placeholder.png"
            [class]="'flag flag-' + language.flag.toLowerCase()"
            style="width: 18px" />
          <div>{{ language.text }}</div>
        </div>
      </ng-template>
    </p-select>
  </div>
  <div class="field">
    * For checking the availability of parts, showing the price in your currency and it also defines the shopping cart
    at the Pick a Brick service.
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="onSave()" label="Save" styleClass="p-button-solid" [autofocus]="true"></p-button>
  </ng-template>
</p-dialog>
