<p-dialog [(visible)]="show" [style]="{ width: '50vw' }" [modal]="true" [closable]="false">
  <ng-template #header>
    Transfer {{ cartType === 'pab' ? 'Bestseller' : 'Standard' }} parts to LEGO shopping cart
  </ng-template>
  <div class="flex flex-wrap card-container blue-container gap-3">
    <span><p-progressspinner></p-progressspinner></span>
    <div>
      <p class="align-items-center justify-content-center">
        <app-progress-icon [step]="1" [currentStep]="transferStep"></app-progress-icon> Check for open lego.com tab
      </p>
      <p class="align-items-center justify-content-center">
        <app-progress-icon [step]="2" [currentStep]="transferStep"></app-progress-icon> Get auth token
      </p>
      <p class="align-items-center justify-content-center">
        <app-progress-icon [step]="3" [currentStep]="transferStep"></app-progress-icon> Check current cart
      </p>
      <p class="align-items-center justify-content-center">
        <app-progress-icon [step]="4" [currentStep]="transferStep"></app-progress-icon> Add parts to cart
      </p>
      <p class="align-items-center justify-content-center">
        <app-progress-icon [step]="5" [currentStep]="transferStep"></app-progress-icon> Change quantity on parts in cart
      </p>
    </div>
  </div>
  @if (!!errorMessage) {
    <p-message severity="error" [text]="errorMessage"></p-message>
  }
  <ng-template #footer>
    @if (transferStep === 1 && !!errorMessage) {
      <p-button
        icon="pi pi-check"
        (click)="onOpenLegoWebsite()"
        label="open LEGO.com"
        styleClass="p-button-solid"></p-button>
    }
    @if (transferStep === 1 && !!errorMessage) {
      <p-button icon="pi pi-check" (click)="onRetry()" label="Retry" styleClass="p-button-outlined"></p-button>
    }
    @if (!!errorMessage) {
      <p-button
        icon="pi pi-check"
        (click)="onClose()"
        label="Close"
        styleClass="p-button-outlined p-button-danger"></p-button>
    }
  </ng-template>

  <ng-template #closeicon><svg data-p-icon="times" /></ng-template>
</p-dialog>
