<p-sidebar [(visible)]="display" position="right" styleClass="w-30rem">
  <h2>Split (Beta)</h2>
  <div class="flex flex-column card-container green-container gap-3">
    <div>
      If the parts list contains more than {{ maxPaBLotPerOrder }} BaP Bestsellers or Standard parts or the maximum number of orderable
      parts of a specific part, BrickHunter tries to split it into as few parts lists as possible that exceed the
      minimum fee.
    </div>
    <div style="color: red">(Might currently not work correctly when using "have" quantities!)</div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="field">
        <label for="partsListName" class="block">Parts List name</label>
        <input
          id="partsListName"
          formControlName="partsListName"
          #partListName
          type="text"
          pInputText
          style="width: 100%" />
      </div>
      <div class="field">
        <button pButton pRipple type="submit" label="Split" style="width: 100%"></button>
      </div>
    </form>

    <h2>Preview</h2>
    <div *ngFor="let summary of newPartsListSummary; index as index">
      <h3>{{ partListName.value }} {{ index + 1 }}</h3>

      <div id="pr_id_1" class="p-datatable-striped p-datatable p-component">
        <div class="p-datatable-wrapper">
          <table role="table" class="p-datatable-table ng-star-inserted">
            <thead class="p-datatable-thead">
              <tr class="ng-star-inserted">
                <th>Type</th>
                <th>Lots</th>
                <th>Pieces</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody class="p-element p-datatable-tbody">
              <tr class="ng-star-inserted">
                <td>Bestseller</td>
                <td>{{ summary.pab.lots }}</td>
                <td>{{ summary.pab.pieces }}</td>
                <td>{{ summary.pab.price.toFixed(2) }}</td>
              </tr>
              <tr class="ng-star-inserted">
                <td>Standard</td>
                <td>{{ summary.bap.lots }}</td>
                <td>{{ summary.bap.pieces }}</td>
                <td>{{ summary.bap.price.toFixed(2) }}</td>
              </tr>
              <tr class="ng-star-inserted">
                <td>BrickLink</td>
                <td>{{ summary.brickLink.lots }}</td>
                <td>{{ summary.brickLink.pieces }}</td>
                <td>{{ summary.brickLink.price.toFixed(2) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- <div class="field-checkbox">
          <p-checkbox [(ngModel)]="have" [binary]="false" inputId="have" name="have"></p-checkbox>
          <label for="have">Subtract WantedList-Have from number</label>
        </div>
        <div class="field-checkbox">
          <p-checkbox [(ngModel)]="withoutbl" inputId="withoutbl" name="withoutbl"></p-checkbox>
          <label for="withoutbl">Do not take BrickLink prices into account</label>
        </div>
        <div class="field-checkbox">
          <p-checkbox name="bllower" [(ngModel)]="bllower" inputId="bllower" name="bllower"></p-checkbox>
          <label for="bllower">Only add to BrickLink if price is x lower</label>
        </div> -->
  </div>
</p-sidebar>
