<p-drawer [appendTo]="null" [(visible)]="display" position="right">
  <h2>Settings</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="flex flex-column card-container green-container gap-3">
      <div>
        <label for="partsListName" class="block">Parts List name</label>
        <input id="partsListName" formControlName="partsListName" type="text" pInputText style="width: 100%" />
      </div>
      <div class="field-checkbox">
        <p-checkbox formControlName="subtractHaveFromQuantity" [binary]="true" inputId="subtractHaveFromQuantity">
          <ng-template #icon let-checked="checked">
            @if (checked) {
              <svg data-p-icon="check" class="p-checkbox-icon" />
            }
          </ng-template>
        </p-checkbox>
        <label for="subtractHaveFromQuantity">Subtract Have from quantity on transfer</label>
      </div>
      <div class="field-checkbox">
        <p-checkbox formControlName="ignoreBrickLinkPrices" [binary]="true" inputId="ignoreBrickLinkPrices">
          <ng-template #icon let-checked="checked">
            @if (checked) {
              <svg data-p-icon="check" class="p-checkbox-icon" />
            }
          </ng-template>
        </p-checkbox>
        <label for="ignoreBrickLinkPrices">Ignore BrickLink prices</label>
      </div>
      <div class="field-checkbox">
        <p-checkbox formControlName="subtractBrickLinkPrice" [binary]="true" inputId="subtractBrickLinkPrice">
          <ng-template #icon let-checked="checked">
            @if (checked) {
              <svg data-p-icon="check" class="p-checkbox-icon" />
            }
          </ng-template>
        </p-checkbox>
        <label for="subtractBrickLinkPrice">Reduce BrickLink price for comparsion by:</label>
      </div>
      <div class="grid">
        <div class="col-6">
          <p-inputnumber
            inputId="integeronly"
            formControlName="subtractBrickLinkPriceAmount"
            mode="decimal"
            [minFractionDigits]="2">
            <ng-template #incrementbuttonicon><svg data-p-icon="chevron-up" /></ng-template
            ><ng-template #decrementbuttonicon><svg data-p-icon="chevron-down" /></ng-template>
          </p-inputnumber>
        </div>
        <div class="col-6">
          <p-select
            bhSelectEscape
            formControlName="subtractBrickLinkPriceUnit"
            [options]="subtractUnits"
            appendTo="body"
            optionLabel="name"
            dataKey="code"
            ariaLabel="Price reduction unit"
            [style]="{ width: '100%' }">
            <ng-template #dropdownicon><svg data-p-icon="chevron-down" /></ng-template>
          </p-select>
        </div>
      </div>
      <button pButton pRipple type="submit" style="width: 100%"><span pButtonLabel>Save</span></button>
    </div>
  </form>

  <ng-template #closeicon><svg data-p-icon="times" /></ng-template>
</p-drawer>
