<p-sidebar [(visible)]="display" position="right">
  <h2>Settings</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="flex flex-column card-container green-container gap-3">
      <div>
        <label for="partsListName" class="block">Parts List name</label>
        <input id="partsListName" formControlName="partsListName" type="text" pInputText style="width: 100%" />
      </div>
      <div class="field-checkbox">
        <p-checkbox
          formControlName="subtractHaveFromQuantity"
          [binary]="true"
          [label]="'Subtract Have from quantity on transfer'"></p-checkbox>
      </div>
      <div class="field-checkbox">
        <p-checkbox
          formControlName="ignoreBrickLinkPrices"
          [binary]="true"
          label="Ignore BrickLink prices"></p-checkbox>
      </div>
      <div class="field-checkbox">
        <p-checkbox
          formControlName="subtractBrickLinkPrice"
          [binary]="true"
          [label]="'Reduce BrickLink price for comparsion by:'"></p-checkbox>
      </div>
      <div class="grid">
        <div class="col-6">
          <p-inputNumber
            inputId="integeronly"
            formControlName="subtractBrickLinkPriceAmount"
            mode="decimal"
            [minFractionDigits]="2"></p-inputNumber>
        </div>
        <div class="col-6">
          <p-dropdown
            formControlName="subtractBrickLinkPriceUnit"
            [options]="subtractUnits"
            appendTo="body"
            optionLabel="name"
            inputStyle="width: 100%"></p-dropdown>
        </div>
      </div>
      <button pButton pRipple type="submit" label="Save" style="width: 100%"></button>
    </div>
  </form>
</p-sidebar>
