<p-drawer [appendTo]="null" [(visible)]="display" position="right">
  @if (action === 'copy') {
    <h2>Copy to</h2>
  }
  @if (action === 'move') {
    <h2>Move to</h2>
  }
  <form (ngSubmit)="onCreatePartsList(form)" #form="ngForm">
    <div class="field">
      <label for="partsListName" class="block">Parts List name</label>
      <input id="partsListName" name="partsListName" type="text" pInputText style="width: 100%" ngModel />
    </div>
    <div class="field">
      <button
        pButton
        pRipple
        type="submit"
        icon="fa fa-plus"
        label="Create Parts List"
        styleClass="p-button-solid text-md"
        style="width: 100%"></button>
    </div>
  </form>
  <div class="field">
    <label>Target Parts List</label>
    <p-selectButton
      [options]="targetPartsLists"
      [(ngModel)]="selectedPartsListUuid"
      optionLabel="name"
      optionValue="uuid"></p-selectButton>
  </div>
  <div class="field">
    @if (action === 'copy') {
      <button pButton pRipple type="button" label="Copy" style="width: 100%" (click)="onSubmit()"></button>
    }
    @if (action === 'move') {
      <button pButton pRipple type="button" label="Move" style="width: 100%" (click)="onSubmit()"></button>
    }
  </div>
</p-drawer>
