<p-drawer [appendTo]="null" [(visible)]="display" position="right">
  @if (action === 'copy') {
    <h2>Copy to</h2>
  }
  @if (action === 'move') {
    <h2>Move to</h2>
  }
  <form (ngSubmit)="onCreatePartsList(form)" #form="ngForm">
    <div class="field">
      <label for="partsListName" class="block">Parts List name</label>
      <input id="partsListName" name="partsListName" type="text" pInputText style="width: 100%" ngModel />
    </div>
    <div class="field">
      <button
        pButton
        pRipple
        type="submit"


        styleClass="p-button-solid text-md"
        style="width: 100%"><span pButtonIcon class="fa fa-plus"></span><span pButtonLabel>Create Parts List</span></button>
    </div>
  </form>
  <div class="field">
    <label>Target Parts List</label>
    <p-selectbutton
      [options]="targetPartsLists"
      [(ngModel)]="selectedPartsListUuid"
      optionLabel="name"
      optionValue="uuid"></p-selectbutton>
  </div>
  <div class="field">
    @if (action === 'copy') {
      <button pButton pRipple type="button" style="width: 100%" (click)="onSubmit()"><span pButtonLabel>Copy</span></button>
    }
    @if (action === 'move') {
      <button pButton pRipple type="button" style="width: 100%" (click)="onSubmit()"><span pButtonLabel>Move</span></button>
    }
  </div>
</p-drawer>
