<p-dialog [(visible)]="show" [style]="{ width: '90vw' }" [modal]="true" [closable]="true">
  <ng-template #header>
    <h2 style="margin: 0">{{ product.id }} - {{ product.name }}</h2>
  </ng-template>
  @if (product != null) {
    <div class="grid">
      <div class="col-9">
        @if (show) {
          <app-parts-table
            [parts]="$safeNavigationMigration(product?.partsUsed)"
            [scrollHeightSubtraction]="325"
            [log]="true"
            [dataTableWrapperIndex]="1"
            [showSelection]="false"
            [showAction]="false"></app-parts-table>
        }
      </div>
      <div class="col-3">
        <div class="flex flex-column gap-2">
          <div class="flex flex-column gap-2">
            @if (currentPartListUuid == 'multiple') {
              <p-message severity="warn" text="Combined Lists are currently not fully supported!"></p-message>
            }
            <button
              pButton
              pRipple
              type="button"
              class="p-button-outlined"
              style="width: 100%"
              [disabled]="currentPartListUuid == 'multiple'"
              (click)="onRemoveParts()">
              <span pButtonIcon class="fa fa-trash-can"></span><span pButtonLabel>Remove parts from Parts List</span>
            </button>
            <button pButton pRipple type="button" class="p-button-outlined" style="width: 100%" (click)="onExportPdf()">
              <span pButtonIcon class="fa fa-file-pdf"></span><span pButtonLabel>PDF</span>
            </button>
          </div>
          <img [src]="product.imageUrl" [alt]="product.name" class="productImage" />
          <div class="shortInfoTitle">Bestseller Price</div>
          <div>{{ getTotalPrice('pab') }}</div>
          <div class="shortInfoTitle">Standard Price</div>
          <div>{{ getTotalPrice('bap') }}</div>
          <div class="shortInfoTitle">Total</div>
          <div>{{ getTotalPrice('all') }}</div>
        </div>
      </div>
    </div>
  }
  <ng-template #footer>
    <p-button
      icon="pi pi-check"
      (click)="onClose()"
      label="Close"
      styleClass="p-button-outlined p-button-danger"></p-button>
    <!-- <p-button icon="pi pi-check" (click)="onContinue()" label="Continue" styleClass="p-button-solid"></p-button> -->
  </ng-template>

  <ng-template #closeicon><svg data-p-icon="times" /></ng-template>
</p-dialog>
