<div class="flex align-items-center justify-content-center">
  <div>
    <p-select
      [options]="options"
      optionLabel="label"
      optionValue="value"
      [(ngModel)]="perPage"
      (onChange)="onPerPageChange()">
      <ng-template #dropdownicon><svg data-p-icon="chevron-down" /></ng-template>
    </p-select>
  </div>
  <div class="flex-1">
    <p-paginator
      (onPageChange)="onPageChange($event.page)"
      [first]="page * perPage"
      [rows]="perPage"
      [totalRecords]="totalParts">
      <ng-template #firstpagelinkicon><svg data-p-icon="angle-double-left" /></ng-template
      ><ng-template #previouspagelinkicon><svg data-p-icon="angle-left" /></ng-template
      ><ng-template #nextpagelinkicon><svg data-p-icon="angle-right" /></ng-template
      ><ng-template #lastpagelinkicon><svg data-p-icon="angle-double-right" /></ng-template>
    </p-paginator>
  </div>
  <div class="justify-content-end">
    <!-- <p-selectbutton
    [options]="layoutOptions"
    [ngModel]="layout"
    optionLabel="icon"
    optionValue="value"
    (onChange)="onLayoutChanged($event.value)">
    <ng-template let-item>
      <i [class]="item.icon"></i>
    </ng-template>
  </p-selectbutton> -->
    <p-select
      id="country"
      [options]="countries"
      [(ngModel)]="selectedCountry"
      placeholder="Select a Country"
      appendTo="body"
      autoWidth="false"
      [style]="{ width: '100%' }"
      (onChange)="onCountrySelect()">
      <ng-template #selectedItem>
        @if (selectedCountry) {
          <div class="flex align-items-center gap-2">
            <img
              src="/assets/flag_placeholder.png"
              [class]="'flag flag-' + selectedCountry?.countryCode?.toLowerCase()"
              style="width: 18px" />
            <div>
              {{ selectedCountry.countryCode | uppercase }} {{ selectedCountry.lastUpdate + 'Z' | date: 'short' }}
            </div>
          </div>
        }
      </ng-template>
      <ng-template let-country #item>
        <div class="flex align-items-center gap-2">
          <img
            src="/assets/flag_placeholder.png"
            [class]="'flag flag-' + country.countryCode.toLowerCase()"
            style="width: 18px" />
          <div>{{ country.countryCode | uppercase }} {{ country.lastUpdate + 'Z' | date: 'short' }}</div>
        </div>
      </ng-template>

      <ng-template #dropdownicon><svg data-p-icon="chevron-down" /></ng-template>
    </p-select>
  </div>
</div>
